node_modules
beleqet-jobs-nextjs/node_modules
beleqet-jobs-nextjs/.next
dist
coverage
.git
.gitignore
frontend
*.log
.env
.env.local
.env.development
.env.*.local
.vscode
.idea
Dockerfile
docker-compose.yml
README.md
docs
test
*.md
